* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
}

.container {
  width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px auto;
}

.search-wrap {
  height: 80px;
  background-color: rgb(37, 51, 155);
  padding: 13px;
}

.input-field {
  font-family: inherit;
  font-size: inherit;
  width: 300px;
  height: 50px;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #f1f1f1;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(14, 14, 14, 0.3);
}

.btn{
    border: none;
    height: 50px;
    width: 50px;
    background-color: #c3c3c3;
    transition: background-color 300ms;
    cursor: pointer;
}

.btn:hover,
.btn:focus{
background-color: #adadad;
}

img {
    height: 30px;
    width: 30px;
    border-style: none;
    border-width: 0;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card{
  width: calc((100% - 60px) / 4);
}

.info{
  display: flex;
  gap: 5px;
}

.card-img{
  width: 100%;
  height: 230px;
}